@media (min-width: 50rem) {
    header {
        height: 5rem;
    }

    .header-div {
        max-width: 60rem;
        margin: 0 auto;
    }

    .logo {
        width: 60px !important;
    }

    .search-form {
        input {
            font-size: 1rem;
        }
    }

    /* navigationmenu */
    .menu-btn, #open-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: static !important;
        box-shadow: none !important;
        height: auto !important;
        align-items: center;
        grid-column: 5/6;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
        }

        li {
            padding: 1rem !important;
            margin: auto 0.5rem;
            text-align: center;
        }
    }

}