@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../abstracts/placeholders";

.play-btn {
    @include mixins.size(variables.$footer-color, 2em, 90%);
    font-size: 0.7em;
    border: none;
    color: variables.$white;
    cursor: pointer;

    &:hover {
        @extend %zoom-hover;
    }
}

.back-btn {
    @include mixins.button(variables.$pink, 0.5em, 1em 2em 0, 0);
    font-size: 0.8em;
    max-width: 20%;

    &:hover {
        @extend %zoom-hover;
    }

    a {
        @extend %link;
        color: variables.$white;
    }
}