@use "../abstracts/variables";
@use "../abstracts/mixins";

/* sökbox */
.search-container {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    grid-column: 2/5;
}

.search-form {
    input {
        width: 85%;
        padding: 0.6rem;
        font-size: 0.8rem;
        border: none;
        border-radius: 1.25rem;
    }

    button {
        vertical-align: -0.125em;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .search-icon {
        @include mixins.icon(1.3rem, 1.3rem, 2%);
    }

    
}