@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.hero-image {
    text-align: center;
    animation: moveIn 3s ease;

    img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        height: auto;
    }
}

.content {
    animation: fadeIn 3s ease;

    h1 {
        animation: color-change 10s 1s linear 5;
    }
}

.list-container,
.artist-concerts {
    @include mixins.text-box(1em, 0.5em 0, 10px, 0 0 10px rgba(0, 0, 0, 0.5) inset);
    height: 95%;

    h2 {
        margin-bottom: 0.5em;
    }

    .li-container {
        padding: 0.8em 4em;

        &:hover {
            @extend %hover;
        }
    }

    ol {
        padding: 0;
    }

    a {
        @extend %link
    }
}