@use "../abstracts/variables";
@use "../abstracts/placeholders";

.hero-image {
    text-align: center;
    animation: moveIn 3s ease;

    img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        height: auto;
    }
}

.list-container {
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    padding: 0.5em 0;
    border-radius: 10px;

    .li-container {
        padding: 0.8em 4em;

        &:hover {
            @extend %hover-pink
        }
    }

    ol {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: variables.$black;
        font-size: 1.2em;
        display: block;
        transition: background-color 0.5s;

    }
}

.concert-list {
    padding: 0;

    .concert-container {
        padding: 0.5em 2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);

        &:hover {
            @extend %hover-pink
        }
    } 

    h3 {
        font-size: 1em;

        &:hover {
            text-decoration: underline;
        }
    }
    
    li {
        list-style-type: none;
    }
}