@use "./abstracts/variables";

body {
    background-color: variables.$white;
    margin: 0;
    line-height: 1.5rem;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    color: variables.$header-color;
    margin: 0 0 1em;
}

h1, h2 {
    text-align: center;
}