@keyframes moveAround {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes moveAround2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        transform: translate(50%, 50%) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes hover {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}