//mixins
//mixin för hamburger-icon
@mixin menu-icon($display, $width, $height, $bg-color, $margin) {
    display: $display;
    width: $width;
    height: $height;
    background-color: $bg-color;
    margin: $margin;
}