//mixins
//mixin grid
@mixin grid ($columns: 2) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

//mixin för hamburger-icon
@mixin menu-icon($display, $width, $height, $bg-color, $margin) {
    display: $display;
    width: $width;
    height: $height;
    background-color: $bg-color;
    margin: $margin;
}

//icon mixin
@mixin icon($width, $height, $margin) {
    width: $width;
    height: $height;
    vertical-align: -0.125em;
    margin: $margin;
    cursor: pointer;
}

//mixin for sizes
@mixin size($bg-color, $height, $width) {
    background-color: $bg-color;
    height: $height;
    width: $width;
}

//mixin for button
@mixin button($bg-color, $padding, $margin, $border: 0) {
    background-color: $bg-color;
    padding: $padding;
    margin: $margin;
    
    @if $border !=0 {
        border: $border;
    }

    cursor: pointer;
    text-align: center;
}

//mixin för boxar
@mixin text-box ($margin, $padding, $radius, $box-shadow: 0) {
    margin: $margin;
    padding: $padding;
    border-radius: $radius;

    @if $box-shadow !=0 {
        box-shadow: $box-shadow;
    }
}