@use "./variables";

//placeholder for hovering
%hover-pink {
    background-color: variables.$pink;
    cursor: pointer;
    transition: 1.5s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}