// variables

//light colors
$header-color: #224142;
$footer-color: #1A1A2E;
$background-color: #FFFBED;
$pink: #FF008C;

//dark colors
$dark-background: #121212;
$lighter-grey: lighten($dark-background, 10%);
$footer-dark: #08080F;
$pink-dark: darken($pink, 10%);
$dark-theme-text: #F0F0F0;

//general colors
$white: #fff;
$black: #000;

//fonts
$font-stack: "Inter", sans-serif;
$heading-font: "Poppins", sans-serif;